.theme-light {
    --BlockqutoeColor_border-inline-start: rgb(177, 132, 255);
    --BlockqutoeColor_background-color: rgb(221, 207, 245);
  }
  
  .theme-dark {
    --BlockqutoeColor_border-inline-start: rgb(0, 255, 26);
    --BlockqutoeColor_background-color: rgb(255, 255, 255);
  }
  
  /* PKMer网站的引用框 */
  .markdown-rendered blockquote {
    margin: 2rem 0 2rem 0;
    padding: 0.8em 0.8rem;
    border-inline-start: 0.5rem solid var(--BlockqutoeColor_border-inline-start);
    background-color: var(--BlockqutoeColor_background-color);
    border-radius: 0 0.25rem 0.25rem 0;
    line-height: 1.2;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(232, 0, 0, 0.05),
      0 0 0.05rem rgba(0, 0, 0, 0.1);
    outline: 1px solid transparent;
  }
  /* 引用块样式 */
.cm-formatting blockquote {
  margin: 10px 0;
  padding: 8px 15px;
  border-left: 4px solid var(--blockquote-border-color);
  background-color: var(--blockquote-bg-color);
  border-radius: 3px;
  line-height: 1.4;
}

/* 浅色主题下的引用块颜色 */
.theme-light {
  --blockquote-border-color: rgb(0, 0, 0);
  --blockquote-bg-color: rgb(55, 186, 38);
}

/* 深色主题下的引用块颜色 */
.theme-dark {
  --blockquote-border-color: rgb(255, 0, 0);
  --blockquote-bg-color: rgb(40, 3, 0);
}
