.D100{
    background-image: url(https://bpic.588ku.com/back_pic/05/97/06/035df5e39ac4cb5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.A100{
    background-image: url(https://tse3-mm.cn.bing.net/th/id/OIP-C.PaDKoMJOhX8OuWEyzPEa1gHaNK?w=187&h=333&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.B100{
    background-image: url(https://th.bing.com/th/id/OIP.otQwsy072IQpV-e7WgVjdQHaLG?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.C100{
    background-image: url(https://bpic.588ku.com/back_pic/06/16/18/6562c2852bf2697.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
